.homeContainer {
  width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.isFetching {
  font-size: 900rem;
  position: absolute;
  top: 50%;
  left: 50%;
}
